In [20]:
# Import Dependancies, Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import re
import requests

In [21]:
!which chromedriver

/usr/local/bin/chromedriver

In [22]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)

## Visit the NASA mars news site

In [61]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Get first list item, optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=2)

True

In [62]:
# Using bs4 to get and store the HTML, convert the browser html to a soup object and then quit the browser
html = browser.html
t_soup = BeautifulSoup(html, 'html.parser')

In [63]:
slide_element = t_soup.select_one('ul.item_list li.slide')
slide_element

<li class="slide"><div class="image_and_description_container"><a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">The team also fueled the rover's sky crane to get ready for this summer's history-making launch.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="The Mars Helicopter attached to the belly of NASA's Perseverance" src="/system/news_items/list_view_images/8645_PIA23824-RoverWithHelicopter-32x24.jpg"/></div><div class="bottom_gradient"><div><h3>Mars Helicopter Attached to NASA's Perseverance Rover</h3></div></div></a><div class="list_text"><div class="list_date">April 10, 2020</div><div class="content_title"><a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/" target="_self">Mars Helicopter Attached to NASA's Perseverance Rover</a></div><div class="article_teaser_body">The team also fueled the rover's sky crane to get ready for this summer's history-making launch.</div></div></div></li>

In [64]:
news_title = slide_element.find('div', class_='content_title').get_text()
news_title

"Mars Helicopter Attached to NASA's Perseverance Rover"

In [65]:
news_p= slide_element.find('div', class_='article_teaser_body').get_text()
news_p

"The team also fueled the rover's sky crane to get ready for this summer's history-making launch."

## JPL Space Images Featured Image

In [66]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path)
# browser = Browser("chrome", **executable_path, headless=True)

In [67]:
# Visit the jpl nasa page site
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [68]:
#Getting the base url
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url))
print(base_url)

https://www.jpl.nasa.gov/

In [69]:
# Find the 'Full Image' and use .click() method to access
browser.is_element_present_by_text('FULL IMAGE', wait_time=2)
fi_elem = browser.links.find_by_partial_text('FULL IMAGE')
# time.sleep(2)
fi_elem.click()

In [70]:
# Find 'more info' button and .click()
mi_elem = browser.click_link_by_partial_text('more info')
mi_elem

//anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [71]:
# Parse the resulting html with soup
html = browser.html
i_soup = BeautifulSoup(html, 'html.parser')

In [72]:
# # find the relative image url
# img_url_rel = i_soup.select_one('figure.lede a img').get("src")
# img_url_rel

In [73]:
# Find the relative image url
img_url = i_soup.find("img", class_="main_image")["src"]
img_url

'/spaceimages/images/largesize/PIA16105_hires.jpg'

In [74]:
# Adding base url, to create absolute url
full_img_url = base_url + img_url
full_img_url

'https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA16105_hires.jpg'

## Mars Weather

In [75]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path)

In [80]:
t_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(t_url)

time.sleep(5)

In [81]:
html = browser.html
w_soup = BeautifulSoup(html, 'html.parser')

In [82]:
# mars_weather_tweet = w_soup.find('div', attrs={"class": "tweets", "data-name": "Mars Weather"})
# print(mars_weather_tweet)

None

In [83]:
# re.compile(pattern, repl, string):
pattern = re.compile(r'sol')
m_weather = w_soup.find('span', text=pattern).text
m_weather

'InSight sol 489 (2020-04-11) low -93.5ºC (-136.2ºF) high -6.5ºC (20.3ºF)\nwinds from the WNW at 4.8 m/s (10.7 mph) gusting to 17.4 m/s (39.0 mph)\npressure at 6.60 hPa'

## Mars Facts

In [4]:
import pandas as pd

In [5]:
mars_df = pd.read_html('https://space-facts.com/mars/')[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
mars_df.columns=['Information', 'Value']
mars_df

            Information                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
mars_df.set_index('Information', inplace=True)
mars_df

                                              Value
Information
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [8]:
mars_df = mars_df.to_html()
mars_df = mars_df.replace("\n", "")
mars_df

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Information</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [23]:
h_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(h_url)

In [25]:
# hemisphere_image_urls = []
# for i in range(4):

# # Find the elements on each loop to avoid a stale element exception
#     browser.find_by_css("a.product-item h3")[i].click()

#     hemi_data = scrape_hemisphere(browser.html)

#     # Append hemisphere object to list
#     hemisphere_image_urls.append(hemi_data)

#     # Finally, we navigate backwards
#     browser.back()

# hemisphere_image_urls

In [16]:
image_urls = []

# First, get a list of all of the hemispheres
links = browser.find_by_css("a.product-item h3")

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    hemisphere = {}
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css("a.product-item h3")[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    # Get Hemisphere title
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    # Append hemisphere object to list
    image_urls.append(hemisphere)
    
    # Finally, we navigate backwards
    browser.back()

In [18]:
image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [19]:
browser.quit()